.AvatarContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(Var(--adjustedRatio)*48px);
    height: calc(Var(--adjustedRatio)*48px);
    border-radius: 100%;
    position: relative;

    .AvatarImg{
        position: absolute;
        z-index: 1;
        width: calc(Var(--adjustedRatio)*48px);
        height: calc(Var(--adjustedRatio)*48px);
        border-radius: 100%;

        
    }

    .InGroup{
        border: calc(Var(--adjustedRatio)*4px) solid  #FFFFFF;
    }

    .OnlineIndicator{
        width: calc(Var(--adjustedRatio)*16px);
        height: calc(Var(--adjustedRatio)*16px);
        border: calc(Var(--adjustedRatio)*2px) solid  #FFFFFF;
        border-radius: 100%;
        background-color: #00FF38;
        margin-left: calc(Var(--adjustedRatio)*32px);
        z-index: 2;
    }
}