.chat-page-content {

    display: flex;
    flex-direction: column;
    position: relative;

    align-items: center;

    .chat-page-messages-container {
        
        padding-top: calc(Var(--adjustedRatio)*100px);
        min-height: calc(Var(--adjustedRatio)*600px);
        max-height: calc(Var(--adjustedRatio)*700px);
        min-width: calc(Var(--adjustedRatio)*700px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-right: calc(Var(--adjustedRatio)*100px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .chat-page-bar-container {

        position: fixed;
        bottom: 0px;

        width: fit-content ;
        height: fit-content;
    }
}