.PreviewContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: calc(Var(--adjustedRatio)*320px);
    height: calc(Var(--adjustedRatio)*72px);

    &:hover{
        cursor: pointer;
    }

    .PreviewAvatars{
        display: flex;
        flex-direction: row;
        width: calc(Var(--adjustedRatio)*60px);

        .AvatarContainer:nth-child(1) .AvatarImg{
            z-index: 2;
        }
    }

    .PreviewTextContent{
        display: flex;
        flex-direction: column;
        width: calc(Var(--adjustedRatio)*200px);
        height: calc(Var(--adjustedRatio)*90px);
        margin-bottom: calc(Var(--adjustedRatio)*16px);

        .PreviewNamesContainer{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            overflow: hidden;
            height: calc(Var(--adjustedRatio)*80px);
            
            .PreviewNames{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                .body,
                .H3{
                    white-space: nowrap;
                    overflow: hidden;
                    width: calc(Var(--adjustedRatio)*200px);
                    height: 100%;
                    text-overflow: ellipsis;
                }
            }
        }
        
       .PreviewMessageContainer{
            display: flex;
            flex-direction: row;
            overflow: hidden;
            margin-top: calc(Var(--adjustedRatio)* -8px);

            .PreviewMessage{
                align-items: center;
                margin-bottom: calc(Var(--adjustedRatio)*4px);
                
                .body,
                .H3{
                    white-space: nowrap;
                    overflow: hidden;
                    width: calc(Var(--adjustedRatio)*200px);
                    text-overflow: ellipsis;
                }
            }
       }
    }
}