.CheckboxContainer{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(68, 68, 68);
}

.Checkbox:hover{
    cursor: pointer;
}

.Checked{
    background: #8773F0;
}
.CheckboxContainer input{
    width: 16px;
    height: 16px;
    color: '#8773F0';
}

