.CodeInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 464px;
    height: 64px;
}

.CodeBox{
    width: 64px;
    height: 64px;
    border: 1px solid #4c4c4c;
    border-radius: 8px;
    text-align: center;
}
