.Library{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.Library section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}