
.message-section-sender{

    width: calc(Var(--adjustedRatio)*760px);
    height: fit-content;
    //padding: calc(Var(--adjustedRatio)*40px) 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: calc(Var(--adjustedRatio)*40px);
    align-self: flex-end;

    .message-avatar-section{

        align-self: flex-start;
        margin-top: 0px;

        &:hover {
            
            cursor: pointer;
        }
    }

    
    .message-bubble-and-tooltip-container {

        background-color: #F3F0FF;
        display: flex;
        min-width: calc(Var(--adjustedRatio)*104px);
        max-width: calc(Var(--adjustedRatio)*464px);
        height: fit-content;
        background: #F3F0FF;
        border: calc(Var(--adjustedRatio)*1px) solid #868686;
        box-shadow: 0px calc(Var(--adjustedRatio)*4px) calc(Var(--adjustedRatio)*4px) rgba(0, 0, 0, 0.25);
        border-radius: calc(Var(--adjustedRatio)*8px);
        position: relative;

        .message-bubble-container-tail {

            position: absolute;
            width: 0px;
            height: 0px;
            border: calc(Var(--adjustedRatio)*20px) solid;
            border-color: transparent transparent  transparent #F3F0FF;
            top: 0px;
            right: calc(Var(--adjustedRatio)* -40px);
            z-index: -2;
        }

       .message-bubble-container {

            min-width: calc(Var(--adjustedRatio)*104px);
            max-width: calc(Var(--adjustedRatio)*464px);
            padding: calc(Var(--adjustedRatio)*8px);
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: right;
       }
    
    }
}


.message-hover-container {

    max-width: calc(Var(--adjustedRatio)*140px);
    height: calc(Var(--adjustedRatio)*32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: calc(Var(--adjustedRatio)*16px);
    padding: calc(Var(--adjustedRatio)*1px) calc(Var(--adjustedRatio)*8px);
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #c5c5c5;
    border-radius: calc(Var(--adjustedRatio)*8px);
    position: absolute;
    top: calc(Var(--adjustedRatio)* -40px);
    left: 50%;
    margin-left: calc(Var(--adjustedRatio)* -75px);

    .message-edit {

        &:hover {

            cursor: pointer;

            svg {

                color: #3f3f3f;
            }
        }

        &:active {

            cursor: pointer;

            svg {
                
                color: #8d8d8d;
            }
        }

        .message-edit-tooltip-container {

            position: absolute;

            .message-edit-tooltip-tail {

                position: absolute;
                width: 0px;
                height: 0px;
                border: calc(Var(--adjustedRatio)*8px) solid;
                border-color: #D9D9D9 transparent transparent  transparent ;
                bottom: calc(Var(--adjustedRatio)* -14px);
                right: calc(Var(--adjustedRatio)*14px);
                z-index: 2;
    
            }
            .message-edit-tooltip {
    
                background: #D9D9D9;
                border-radius: calc(Var(--adjustedRatio)*8px);
                position: absolute;
                width: calc(Var(--adjustedRatio)*48px);
                height: calc(Var(--adjustedRatio)*24px);
                text-align: center;
                top: calc(Var(--adjustedRatio)* -32px);
                left: calc(Var(--adjustedRatio)* -16px);
    
                p {
                    margin: 0%;
                }
            }

        }
    }
}

.message-time {

    color: #767676;

    p {
        margin-top: 0%;
    }
}

.message-section-receiver{

    width: calc(Var(--adjustedRatio)*760px);
    height: fit-content;
    //padding: calc(Var(--adjustedRatio)*40px) 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(Var(--adjustedRatio)*40px);
   
    .message-avatar-section{

        align-self: flex-start;
        margin-top: 0px;

        &:hover {
            
            cursor: pointer;
        }
    }

    
    .message-bubble-and-tooltip-container {

        background-color: #ffffff;
        display: flex;
        min-width: calc(Var(--adjustedRatio)*104px);
        max-width: calc(Var(--adjustedRatio)*464px);
        height: fit-content;
        border: 1px solid #868686;
        box-shadow: 0px calc(Var(--adjustedRatio)*4px) calc(Var(--adjustedRatio)*4px) rgba(0, 0, 0, 0.25);
        border-radius: calc(Var(--adjustedRatio)*8px);
        position: relative;

        .message-bubble-container-tail {

            position: absolute;
            width: 0px;
            height: 0px;
            border: calc(Var(--adjustedRatio)*20px) solid;
            border-color: transparent #d4d4d4 transparent  transparent ;
            top: calc(Var(--adjustedRatio)*2px);
            left: calc(Var(--adjustedRatio)* -40px);
            z-index: -2;
        }

       .message-bubble-container {

            min-width: calc(Var(--adjustedRatio)*104px);
            max-width: calc(Var(--adjustedRatio)*464px);
            padding: calc(Var(--adjustedRatio)*8px);
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
       }
    
    }
}


.message-reply-container{

    display: flex;
    height: fit-content;
    width: 100%;
    margin-top: calc(Var(--adjustedRatio)*40px);
    margin-bottom: calc(Var(--adjustedRatio)* -8px);

    .message-reply-bubble{

        height: calc(Var(--adjustedRatio)*40px);
        min-width: calc(Var(--adjustedRatio)*80px);
        max-width: calc(Var(--adjustedRatio)*464px);

        
        padding: calc(Var(--adjustedRatio)*8px);
        background-color: #f3f3f3;

        border: calc(Var(--adjustedRatio)*1px) solid #868686;
        border-radius: calc(Var(--adjustedRatio)*8px);
        display: flex;
        align-items: center;

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover{

            cursor: pointer;
        }
    }
    
}

.message-media-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;

    img {
        width: calc(Var(--adjustedRatio)*240px);
        height: calc(Var(--adjustedRatio)*200px);
        &:hover {

            cursor: pointer;
        }
    }

    video {

        width: calc(Var(--adjustedRatio)*240px);
        height: auto;
    }
}
.image-display {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    div {
        width: fit-content;
        height: fit-content;
        max-height: calc(Var(--adjustedRatio)*800px);

        img {
            width: fit-content;
            height: fit-content;
    
            &:hover {
    
                cursor: pointer;
            }
        }

        video {

            width: calc(Var(--adjustedRatio)*600px);
            height: auto;
        }
    }

   
}

.file-message {

    color: darkblue;

    &:hover {

        cursor: pointer;
        text-decoration: underline;
        color: rgb(1, 1, 80);
    }

    &:active {

        cursor: pointer;
        text-decoration: underline;
        color: rgb(31, 31, 223);
    }
}