.ModalContainer{
    
    .ModalTrigger{

        width: fit-content;

        &:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .Modal{

        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .ModalOverlay{
            
            width: inherit;
            height: inherit;
            background-color: black;
            opacity: 0.68;
            z-index: 998;
        }
    
        .ModalContent{
            position: absolute;
            min-width: calc(Var(--adjustedRatio)*640px);
            min-height: calc(Var(--adjustedRatio)*352px);
            background-color: white;
            border-radius: calc(Var(--adjustedRatio)*8px);
            z-index: 999;
    
            .Header {
                height: calc(Var(--adjustedRatio)*100px);
                display: flex;
                justify-content: center;
    
                .ModalCloseButton{
                    position: absolute;
                    top: calc(Var(--adjustedRatio)*16px);
                    right: calc(Var(--adjustedRatio)*16px);
    
                    &:hover{
                        cursor: pointer;
                    }
    
                    &:active{
                        cursor: pointer;
                        color: red;
                    }
                }
            }

            .FooterContainer {
                position: relative;
                display: flex;
                align-items: center;
                height: calc(Var(--adjustedRatio)*112px);
                .Footer{
                    position: absolute;
                    right: calc(Var(--adjustedRatio)*24px);
                    min-width: calc(Var(--adjustedRatio)*640px);
                    height: calc(Var(--adjustedRatio)*64px);
                    display: flex;
                    gap: calc(Var(--adjustedRatio)*20px);
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }
    
    .ModalHidden{

        display: none;
    }
}
