.NewsOptionsPage{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ArrowBack{
    left: 72px;
    top: 48px;
    position: absolute;
}

.SkipLink{
    right: 72px;
    top: 48px;
    position: absolute;
}

.NewsOptionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 776px;
    height: 600px;
    margin-top: 200px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px
}

.NewsOptionsContainerTitle{
    position:absolute;
    top: 48px;
}

.NewsOptionsContainer .Description{
    text-align: center;
}

.NewsOptionsContainer p:nth-child(2){
    align-self: flex-start;
    border-color: aqua;
}

.CheckboxesSection .options{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    justify-content: space-evenly;
    align-self: flex-start;
    align-self: center;
}

.LocalNewsOptionSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.LocalNewsOptionSection .SwitchContainer{
    margin-left: 24px;
}

.LocalNewsOptionSection .InfoIcon{
    margin-left: 16px;
}

.NewsOptionsContainer .ButtonComponent{
    margin-top: 80px;
    margin-left: 32px;
    width: 392px;
}