.article-list{

    height: 80vh;
    overflow-y: auto;
    padding: calc(Var(--adjustedRatio)*80px);
    margin-top: calc(Var(--adjustedRatio)*40px);
    display: flex;
    flex-direction: column;
    gap: calc(Var(--adjustedRatio)*40px);
}

.local-switch{

    width: calc(Var(--adjustedRatio)*100px);
    position: absolute;
    right: calc(Var(--adjustedRatio)*400px);
    top: calc(Var(--adjustedRatio)*20px);
}

#Publish .ModalTrigger .button:first-child {
    position: absolute;
    bottom: calc(Var(--adjustedRatio)*48px);
    right: calc(Var(--adjustedRatio)*440px);

    .ButtonComponent {

        width: calc(Var(--adjustedRatio)*100px);
        height: calc(Var(--adjustedRatio)*100px);
        border-radius: 50%;

        p.body {
            font-size: calc(Var(--adjustedRatio)*70px);
            margin: 0%;
        }
    }
}

.ModalContent .Body {
    position: relative;
    display: flex;
    justify-content: center;

    .PostCreationContainer {
        //border: 1px solid #676767;
        border-radius: calc(Var(--adjustedRatio)*8px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(Var(--adjustedRatio)*8px);

        textarea {
            border: none;
            margin-top: calc(Var(--adjustedRatio)*2px);
            //overflow:hidden;
            height: auto;

            &:focus-visible {
                outline: none;
            }
        }

        .RemovePhoto{

            border: none;
            border-radius: 100%;
            width: calc(Var(--adjustedRatio)*40px);
            height: calc(Var(--adjustedRatio)*40px);
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: calc(Var(--adjustedRatio)*50px);
            right: calc(Var(--adjustedRatio)*40px);
            display: flex;
            align-items: center;

            &:hover{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.3);
            }

            &:active{
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.7);
            }

        }
    }

    .AdditionalOptions {
        display: flex;
        position: absolute;
        bottom: calc(Var(--adjustedRatio)* -80px);
        z-index: 80;

        label {

            width: calc(Var(--adjustedRatio)*40px);
            height: calc(Var(--adjustedRatio)*40px);
            border: none;
           

            &:hover {
                cursor: pointer;
            }
        }
    }
}