.article-list{

    height: 80vh;
    overflow-y: auto;
    padding: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.local-switch{

    width: 100px;
    position: absolute;
    right: 400px;
    top: 20px;
}