.no-content-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(Var(--adjustedRatio)*400px);
    padding-top: calc(Var(--adjustedRatio)*40px);

    p {
        margin: 0%;
    }
}