.notification-page-container {

    margin-top: calc(Var(--adjustedRatio)*100px);

    .post-container {

        width: calc(Var(--adjustedRatio)*600px);

        &:hover {

            cursor: pointer;
        }
    }

    .html-container {

        height: calc(Var(--adjustedRatio)*740px);
        overflow-x: hidden;
    }

    .NotificationCardContainer {

        width: calc(Var(--adjustedRatio)*600px);
        min-height: calc(Var(--adjustedRatio)*120px);
        height: fit-content;
        padding-bottom: calc(Var(--adjustedRatio)*16px);

        .NotificationHeader{
            width: 100%;

            .AccountAvatars {

                padding-left: calc(Var(--adjustedRatio)*8px);
            }

            .TitleContainer {
                text-align: left;
                width: calc(Var(--adjustedRatio)*435px);
            }
        }

        .Message {
            width: 94.5%;
            height: fit-content;
            
            p.body {
                white-space: pre-wrap;
            }
        }
    }
}