.RadioContainer{
    display: flex;
    align-items: center;
    gap: calc(Var(--adjustedRatio)*16px);
    width: fit-content;

    .OuterRadio{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        //position: absolute;
        width: calc(Var(--adjustedRatio)*24px);
        height: calc(Var(--adjustedRatio)*24px);
        left: calc(Var(--adjustedRatio)*813px);
        top: calc(Var(--adjustedRatio)*1534px);

        background: #FFFFFF;
        border: calc(Var(--adjustedRatio)*2px) solid #B9B9B9;
        border-radius: 100%;

        &.Checked{
            border-color:  #8773F0;
        }

    }

    .InnerRadio{
        //position: absolute;
        width: calc(Var(--adjustedRatio)*16px);
        height: calc(Var(--adjustedRatio)*16px);
        // left: 817px;
        // top: 1538px;
        border-radius: 100%;

        background: #FFFFFF;

        &.Checked{
            background:  #8773F0;
        }

    }

    &:hover{
        cursor: pointer;
    }
}