.switch {
    display: flex;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    
}

.close-thumb {
    margin: 2px 2px 2px 4px;
    width: 28px;
    height: 28px;
    border-radius: 70px;
}

.open-thumb {
    margin: 2px 2px 2px 40px;
    width: 28px;
    height: 28px;
    border-radius: 70px;
}