
.SwitchContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SwitchContainer p{
    margin-left: 16px;
}

.Switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #A1A1A1;
}

.Switch:hover{
    cursor: pointer;
}

.UnSwitched{
    transition: all 0.5s ease-in;
    background-color: #FFFFFF;
}

.Switched{
    display: flex;
    transition: all 0.5s ease-in;
    background-color: #8773F0;
}

.DarkMode{
    background-color: #202020;
    border: 1px solid #FFFFFF;
}

.closed-thumb,
.opened-thumb{  
    width: 24px;
    height: 24px;
    border-radius: 100px;
}

.closed-thumb {
    animation: thumb-close .5s;
    animation-direction: normal;
    background-color: #8773F0;
    margin-left: 8px;
}

.opened-thumb {
    animation: thumb-open .5s;
    animation-direction: normal;
    margin-right: 8px;
    background-color: #ffffff;
}

.opened-thumb-dark-mode{
    background-color: #5CE1E6;
}

.Icon-left{
    animation: icon .2s;
    animation-direction: normal;
    margin-left: 8px;
}

.Icon-right{
    margin-right: 8px;
}

.Moon{
    animation: icon .2s;
    animation-direction: normal;
    margin-left: 8px;
    color: white;
}


@keyframes thumb-open {
    0% {left:0px; margin-right: 24px}
    100% {left:0px; margin-left: 24px; margin-right: 8px;} 
}

@keyframes thumb-close {
    0% {left:0px; margin-left: 24px; margin-right: 8px;} 
    100% {left:0px; margin-right: 24px}
    
}

@keyframes icon {
    0% {left: 0px; z-index: -22;}
    100% {left: 0px; z-index: 1;}
}