.post-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    .header{
        width: var(--headerWidth);
        display: flex;
        justify-content: center;
    }
    p {
        margin: calc(Var(--adjustedRatio)*8px) calc(Var(--adjustedRatio)*16px);
    }
    .selected{
        border-bottom: calc(Var(--adjustedRatio)*3px) solid #8773F0;
    }

    &:hover {
        cursor: pointer;
    }
}
.selector {
    height: calc(Var(--adjustedRatio)*3px);
    width: calc(Var(--adjustedRatio)*178px);
    background-color: black;
}

.html-container{
    display: flex;
    justify-content: center;
    margin-top: calc(Var(--adjustedRatio)*24px);
    overflow-y: auto;
}
