.SettingsPageContainer{
    display: flex;
    flex-direction: column;
    margin-top: calc(Var(--adjustedRatio)*96px);;
    gap: calc(Var(--adjustedRatio)*24px);
    width: calc(Var(--adjustedRatio)*720px);
    height: calc(Var(--adjustedRatio)*776px);
    overflow-y: scroll;

    .AccountStatus,
    .Language{
        display: flex;
        flex-direction: column;
        //flex-wrap: wrap;
        height: calc(Var(--adjustedRatio)*96px);
        //padding-bottom: 8px;
        .H2 {
            //position: absolute;
        }

        .RadioOptions{
            margin-top: calc(Var(--adjustedRatio)* -24px);
        }
        
    }


    .NewsPreference{
        //height: 128px;

        .CheckboxesContainer{
            display: grid;
            grid-template-columns: auto auto auto;
        }
    }

    .Buttons{
        position: absolute;
        display: flex;
        gap: calc(Var(--adjustedRatio)*40px);
        justify-content: center;
        height: calc(Var(--adjustedRatio)*100px);
        align-items: center;
        margin-top: calc(Var(--adjustedRatio)*20px);
        padding-left: calc(Var(--adjustedRatio)*250px);
        top: calc(Var(--adjustedRatio)*96px);
        right: calc(Var(--adjustedRatio)*496px);

    }

    .Management{
        align-self: flex-start;
        margin-top: calc(Var(--adjustedRatio)*4px);
        .ManagementOptions{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
            width: calc(Var(--adjustedRatio)*336px);


            .H3{
                margin-left: calc(Var(--adjustedRatio)*24px);
            }

            &:hover{
                //background-color: #EBEBEB;
            }
        }
        .ModalTabsContent {

            width: 100%;
            display: flex;
            justify-content: center;
        }
        .header{
            &:hover{
                cursor: pointer;
                //border-bottom: 3px solid #8773F0;
            }
        }
        .ModalSearchArea {
            align-items: center;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        .html-container{

            width: 100%;
            .MatchingUsers {

                display: grid;
                grid-template-columns: auto auto;
                gap: calc(Var(--adjustedRatio)*4px);
                width: calc(Var(--adjustedRatio)*988px);

                margin-top: calc(Var(--adjustedRatio)*32px);
                .MatchingUsersContainer {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        
                        background-color: #EBEBEB;
                    }
                }
            }
        }
    }

    .Irreversible{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: calc(Var(--adjustedRatio)*336px);
        //margin-top: calc(Var(--adjustedRatio)*8px);

        .H3{
            margin-left: calc(Var(--adjustedRatio)*24px);
        }

        &:hover{
            //background-color: #EBEBEB;
        }
    }
    
}