.infos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px 16px 0px;
}

#test, #pic {
    border-radius: 100%;
    margin-right: 32px;
}
 
.friends-displayer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.left-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.id-container{
    display: flex;
    flex-direction: row;
    width: 232px;
    justify-content: space-between;
    p {
        margin: 5px;
    }
}

.search-displayer {
  overflow-y: auto;
}

.bio-container {
    width: 604px;
    height: 85px;
    border-radius: 16px;
}

.friends {
    margin: 0px 0px 16px 0px;
}

.friends-pic {
    border-radius: 100%;
    border: solid 2px rgb(255, 255, 255);
    overflow: hidden;
    margin-right: -16px;
}

.friends-display {
    display: flex;
    flex-direction: row;
    p {
        margin-left: 32px;
    }
}

.see-more {
    color: #0047FF;
}

.modal {
    width: 500px;
    height: 500px;
    background-color: #0047FF;
}

.avatar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-container{
    height: 80vh;
    overflow-y: auto;
    padding: 80px
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(177, 177, 177);
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .patate {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .horizontal {
    display: flex;
    flex-direction: row;
    width: 424px;
    justify-content: space-between;
  }

  .name-container {
    align-items: center;
  }

  .bio-holder{
    align-items: flex-start;
    .H3 {
        margin-top: 0px;
    }
  }

  .height-centered {
    align-items: center;
    width: 328px;
    margin-bottom: 16px;
  }

  #download {
    display: none;
  }
  .upload{
    color: black;
    margin: 0px;
    font-size: large;
  }
  
  .patate {

    #download + label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 180px;
      height: 40px; 
      background-color: white ;
      border-radius: 8px;
      border: 1px solid #676767;
    }
  }