.UserPreviewContainer{
    display: flex;
    align-items: center;
    width: calc(Var(--adjustedRatio)*360px);
    height: calc(Var(--adjustedRatio)*72px);;

    .AvatarContainer{
        
        margin: 0px calc(Var(--adjustedRatio)*24px) 0px calc(Var(--adjustedRatio)*40px);
    }

    .PreviewName{
        align-items: center;
        width: calc(Var(--adjustedRatio)*168px);
        
        .body,
        .H3{
            white-space: nowrap;
            overflow: hidden;
            width: calc(Var(--adjustedRatio)*168px);;
            text-overflow: ellipsis;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: #EBEBEB;
    }
}